# Sanity (required)
SANITY_PROJECT_ID="YOUR_PROJECT_ID"
SANITY_DATASET="production"

# Sanity (recommended)
# Sanity API version, format: YYYY-MM-DD
SANITY_API_VERSION="2024-01-01"

# For SSG builds, the Sanity docs recommend `false` to avoid potentially stale CDN reads.
SANITY_USE_CDN="false"

# Optional (required if your dataset is private)
# Keep this secret and DO NOT prefix with PUBLIC_
SANITY_API_READ_TOKEN=""

