---
export const prerender = true

import { themeConfig } from '@/config'
import IndexLayout from '@/layouts/IndexLayout.astro'
---

<IndexLayout title={`404 - ${themeConfig.site.title}`} description="Not Found" noindex omitCanonical>
  <style>
    .error-container {
      color: var(--text-secondary);
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-regular);
      line-height: 1.75;
      margin: 0;
    }
  </style>
  <h1 class="error-container">Page Not Found...</h1>
</IndexLayout>
